---
---

@font-face {
  font-family: "Space Grotesk Light";
  src: url("fonts/SpaceGrotesk-Light.woff2") format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: "Space Grotesk Medium";
  src: url("fonts/awesome-font-bold.woff") format('woff');
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk Light", -apple-system,BlinkMacSystemFont,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Lucida Grande,sans-serif;
  font-size: 42px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.01em;
  color: #131814;
  background-color: #fafafa;
}

a,
a:visited {
  font-family: "Space Grotesk Medium", -apple-system,BlinkMacSystemFont,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Lucida Grande,sans-serif;
  color: inherit;
  border-bottom: 2px solid #bdeed8;
  text-decoration: none;
  transition: all ease 0.2s;
}

a:hover,,
a:active {
  cursor: pointer;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.container {
  box-sizing: border-box;
  margin: 1em;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.75em;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 2px;
}
