---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Lucida Grande,sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #131814;
  background-color: #fafafa;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  font-weight: 500;
  color: inherit;
  border-bottom: 2px solid #bdeed8;
  text-decoration: none;
  transition: all ease 0.2s;
}

a:hover,,
a:active {
  cursor: pointer;
  color: #000000;
  border-bottom: 4px solid #bdeed8;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.1;
  color: #131814;
}

.container {
  box-sizing: border-box;
  max-width: 640px;
  margin: 4em 5%;
  padding: 0px 15px 90px 15px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.75em;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 2px;
}
