---
layout: default
---

<section>
  <span class="stroke"></span>
  <h1>Ian Goode is a digital product designer in Dublin, Ireland. <br> He's currently Creative Director at <a href="http://axonista.com">Axonista</a>.</h1>
  <p>He combines design and technology to create captivating solutions, apps and experiences. He also makes things pretty.</p>
  <p>For the past three years at <a href="http://axonista.com">Axonista</a> he's led the design of <a href="http://www.ediflo.tv/">Ediflo</a>, a CMS and platform for interactive digital video apps. He's also led design for apps across a variety of platforms for local and global clients like QVC, AOL, TV3, & more.</p>
  <p>A full website is coming soon, in the meantime you can get in touch via one of the places below.</p>
  <p>Email: <a href="mailto:hello@iangoode.ie">hello@iangoode.ie</a></p>
  <p>Twitter: <a href="https://twitter.com/Lennington">@Lennington</a></p>
</header>
