---
layout: default
---

<section>
  <span class="stroke"></span>
  <h1>I'm Ian Goode, a digital product designer in Dublin, Ireland. <br> Currently Creative Director at Axonista.</h1>
  <p>I've designed and shipped award-winning multi-platform apps, and developed a video CMS in use by Fortune 500 companies. In tech industry terms I'm a design 'unicorn' with a growth mindset. Here in Dublin, I'm a designer and front-end developer with over five years professional experience, and still hungry to learn.</p>
  <p>Being equally comfortable with a notepad, Sketch, or a code editor means that I have a holistic perspective on what goes into building digital products. I love to dive deep into the industries I work in, currently media & TV, learning what makes them tick. This blend of business, design and technology has seen my role change over time from individual contributor to product owner.</p>
  <p>A full website is coming soon, in the meantime you can contact me via one of the places below. I'm always open to a conversation.</p>
  <p>Email: <a href="mailto:iandgoode@gmail.com">iandgoode@gmail.com</a></p>
  <p>Twitter: <a href="https://twitter.com/Lennington">@Lennington</a></p>
</header>
