---
layout: default
---

<section>
  <span class="stroke"></span>
  <h1>I'm Ian Goode, a software designer in Dublin, Ireland. <br> Currently Creative Director at Axonista.</h1>
  <p>I'm a designer and front-end developer with over five years professional experience, and still hungry to learn. I've designed and shipped award-winning multi-platform apps and a video CMS in use by Fortune 500 companies. Currently based in Dublin and comfortable working remotely.</p>
  <p>Being equally at home with a notepad, Sketch, or a code editor means that I have a unique perspective on what goes into building digital products. I love to dive deep into the industries I work in, currently media & TV, learning what makes them tick. This blend of business, design, and technology means I operate best in small teams working closely together to build product.</p>
  <p>A full website is coming soon, in the meantime you can contact me via one of the places below. I'm always open to a conversation.</p>
  <p>Email: <a href="mailto:iandgoode@gmail.com">iandgoode@gmail.com</a></p>
  <p>Twitter: <a href="https://twitter.com/Lennington">@Lennington</a></p>
</header>
